/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY CODE */

body {
	width: 800px;
	margin: 0px 20px;
}

header {
	background-image: linear-gradient(to top right, #5586ba, #ff5e99);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 10px 80px 10px;
}

h1, p {
	font-family: "Arial", "Helvetica", sans-serif;
	color: white;
}

h1 {
	font-size: 60px;
	font-weight: bolder;
}

p {
	width: 80%;
}

nav {
	display: flex;
	justify-content: center;
}

button {
	border: 1px solid #4f9dd6;
	background-color: white;
	border-radius: 12px;
	padding: 5px 15px;
	margin: 20px;
}

footer {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;
	width: 50%;
	height: 2000px;
}

img {
	width: 100%;
	height: auto;
}